    <td>
        <a href="javascript:void(0)" class="edit ajax-link">{{ name }} - {{ title }} - {{ weight }} kg</a>
    </td>
    <td>
        {{srcCityName}} → {{dstCityName}}
    </td>
    <td>
        <a class="edit" href="javascript:void(0)" title="Edit" rel="noreferrer">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="remove" href="javascript:void(0)" title="Remove" rel="noreferrer">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </td>