<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit cargo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cargoName">Cargo name</label>
                        <input type="text" class="form-control" id="cargoName" placeholder="Cargo id" name="name" value="{{ name }}" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="cargoTitle">Cargo Title</label>
                        <input type="text" class="form-control" id="cargoTitle" placeholder="Fruits" name="title" value="{{ title }}" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="cargoWeight">Weight</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="cargoWeight" placeholder="Title" name="weight" value="{{ weight }}" required min="1">
                            <span class="input-group-addon">kg</span>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>Departure → Destination</label>
                        <div class="form-inline row">

                            <div class="form-group col-sm-6">
                                <input type="text" id="srcCityName" name="srcCityName" placeholder="Berlin" class="form-control"
                                       value="{{ srcCityName }}" required style="width: 100%;">
                                <input type="hidden" id="srcCityId" name="srcCityId" value="{{ srcCityId }}">
                                <div class="help-block with-errors"></div>
                                <div style="position: absolute; right: -5px; top: 5px;">→</div>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" id="dstCityName" name="dstCityName" placeholder="Berlin" class="form-control"
                                       value="{{ dstCityName }}" required style="width: 100%;">
                                <input type="hidden" id="dstCityId" name="dstCityId" value="{{ dstCityId }}">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary submit" id="editCargoSubmit">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->